body{
    height: 100vh; 
    margin: 0;
    background-color: #f5fcff;
    overflow: hidden;
}
.sun{
    position: absolute;
    top:0;
    right:0;
}
.cloud{
    height:200px;
    margin: 50px 0 0 0;
    position: absolute;
    top:0;
    width: 100%;
    background-image: url("../img/cloud.png");
    background-size: contain;
    background-repeat: repeat-x;
}
.birds  {
    position: absolute;
    top: 0;
    right: 0;
}
.deer  {
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 50%;
}
.grass{
    height: 150px;
    position: absolute;
    bottom:0;
    width: 100%;
    background-image: url(../img/grass.png);
    background-size: contain;
}

